@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background: linear-gradient(-45deg, #5279ee, #1d2c83, #23a6d5, #2370d5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  grid-area: head;
}
article {
  grid-area: content;
  background: rgb(39, 68, 114);
  @apply backdrop-blur-md;
}
aside {
  grid-area: side;
}
footer {
  grid-area: foot;
}

.MainColor {
  @apply bg-[#274472];
}

.SecondColor {
  @apply bg-[#5a90c2];
}

.AssetColor {
  @apply bg-[#3867b4];
}

.reg-title {
  @apply flex-shrink-0 text-[17px] font-normal text-white;
}

input {
  @apply outline-none;
}

textarea {
  @apply outline-none text-black;
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: #0c161800;
}

::-webkit-scrollbar-thumb {
  background: #0f2167;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #0c1618;
}

.dashboard-cell {
  @apply md:w-[11.5rem] w-full h-[6rem] bg-slate-100  rounded-md shrink-0 text-[0.9rem];
}
